.singleArticle-section {
    display: flex;
}
.singleArticle-container {
    width: 60% !important;
    padding: 0px !important;
    margin: 20px !important;
}
.article-bg.Gaming {
    padding: 20px !important;
    background-color: #242526 !important;
    // background-color: #4040409b !important;
    border: 2px solid #F04E46 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.article-bg.Développement {
    padding: 20px !important;
    background-color: #242526 !important;
    // background-color: #4040409b !important;
    border: 2px solid #52A0E0 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.article-bg.Business {
    padding: 20px !important;
    background-color: #242526 !important;
    // background-color: #4040409b !important;
    border: 2px solid #F0E346 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.image-content-bloc {
    margin: 0px !important;
    padding: 0px !important;
}
.img-spacing {
    width: 200px !important;
    height: 156px !important;
    float: left !important;
    margin-right: 10px !important;
    margin-bottom: 0px !important;
}
.content {
    width: 100% !important;
    margin: 0px !important;
    color: white;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.comments-bloc {
    clear: both !important;
    margin: 20px 0px 20px 0px !important;
    width: 40% !important;
}
// .comment-section-bloc {
//     width: 30%;
// }

.align-category-title {
    display: flex;
    align-items: center;
}
.align-category-title h2 {
    margin-left: 10px;
    margin-bottom: 4px !important;
}