.article-bg.Gaming {
    padding: 10px !important;
    // background-color: #242526 !important;
    background-color: #4040409b !important;
    border: 2px solid #F04E46 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.article-bg.Développement {
    padding: 10px !important;
    // background-color: #242526 !important;
    background-color: #4040409b !important;
    border: 2px solid #52A0E0 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.article-bg.Business {
    padding: 10px !important;
    // background-color: #242526 !important;
    background-color: #4040409b !important;
    border: 2px solid #F0E346 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.image-content-bloc {
    margin: 0px !important;
    padding: 0px !important;
}
.img-spacing {
    width: 500px !important;
    height: 306px !important;
    float: left !important;
    margin-right: 10px !important;
    margin-bottom: 0px !important;
}
.content {
    width: 100% !important;
    margin: 0px !important;
    color: white;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.comments-bloc {
    clear: both !important;
    margin: 0px !important;
}