.card-style {
    background-color: #242526 !important;
    border-radius: 0px !important;
    color: white;
}
.img-style {
    height: 170px !important;
    border-radius: 0px !important;
}
.Gaming {
    color: red;
}
.Développement {
    color: blue;
}
.Business {
    color: yellow;
}