.card-style.Développement {
    background-color: #242526 !important;
    border-radius: 0px !important;
    border: 2px solid #52A0E0 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
    color: aquamarine !important;
}
.card-style.Gaming {
    background-color: #242526 !important;
    border-radius: 0px !important;
    border: 2px solid #F04E46 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
    color: aquamarine !important;
}
.card-style.Business {
    background-color: #242526 !important;
    border-radius: 0px !important;
    border: 2px solid #F0E346 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
    color: aquamarine !important;
}
.card-title {   
    color: white;
}
.card-style.Business:hover {
    // background-color: #f0e2460c !important;
    .card-title {
        color: #25F4EE !important;
    }
}
.card-style.Développement:hover {
    // background-color: #52a0e014 !important;
    .card-title {
        color: #25F4EE !important;
    }
}
.card-style.Gaming:hover {
    // background-color: #f04f460e !important;
    .card-title {
        color: #25F4EE !important;
    }
}
.img-style {
    height: 170px !important;
    border-radius: 0px !important;
}
.category-text.Gaming {
    color: #F04E46;
    letter-spacing: 2px;
    margin-bottom: 8px !important;
}
.category-text.Développement {
    color: #52A0E0;
    letter-spacing: 2px;
    margin-bottom: 8px !important;
}
.category-text.Business {
    color: #F0E346;
    letter-spacing: 2px;
    margin-bottom: 8px !important;
}
.resume-style {
    color: white !important;
}