.admin-bloc {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242526 !important;
}
.admin-nav {
    display: flex;
    flex-direction: column;
}