.comment-container.container-fluid {
    background-color: #242526;
    color: white;
    margin-top: 15px;
    padding: 5px !important;
}
.comment-content {
    padding: 0px !important;
}
.comment-bloc {
    width: auto !important;
    margin-right: 6px !important;
}
.date {
    color: #404040;
}