.comment-container.Développement.container-fluid {
    background-color: #242526;
    color: white;
    margin-top: 15px;
    padding: 10px !important;
    border: 2px solid #52A0E0 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.comment-container.Business.container-fluid {
    background-color: #242526;
    color: white;
    margin-top: 15px;
    padding: 10px !important;
    border: 2px solid #F0E346 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.comment-container.Gaming.container-fluid {
    background-color: #242526;
    color: white;
    margin-top: 15px;
    padding: 10px !important;
    border: 2px solid #F04E46 !important;
    border-left: inherit !important;
    border-right: inherit !important;
    border-bottom: inherit !important;
}
.comment-content {
    padding: 0px !important;
}
.comment-bloc {
    width: auto !important;
    margin-right: 6px !important;
}
.author {
    color: aquamarine;
}
.date {
    font-size: 0.9em;
    color: white;
}