.header {
    width: 100%;
    padding: 0px !important;
    height: 10vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    background-color: #242526 !important;
}

// ---------------------------------------------------------- LEFT BLOC -------------------------------------------------------------------
.name-nav {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
    padding: 0px !important;
}
.name {
    padding: 0px !important;
    margin: 0px !important;
    margin-left: 8px !important;
    color: white;
}
.navBar {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    margin-top: 11px;
}
.navBar a {
    font-size: 1.1em;
}
.navBar a:hover {
    border-bottom: 1px solid white !important;
}
.navBar a:focus {
    border-bottom: 1px solid white !important;
}

// ---------------------------------------------------------- RIGHT BLOC -------------------------------------------------------------------
.btn-bloc {
    padding: 0px !important;
    margin: 0px !important;
    max-width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-spacing {
    margin-right: 8px !important;
}
.login-bloc {
    width: auto !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-direction: row;
}