.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;

  width: 100%;
  padding: 0px !important;
  height: 10vh !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  background-color: #242526 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.399);
}

// ---------------------------------------------------------- LEFT BLOC -------------------------------------------------------------------
.name-nav {
  display: flex;
  flex-direction: row;
  margin: 0px !important;
  padding: 0px !important;
}
.name {
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 8px !important;
  color: white;
}
.navBar {
  display: flex;
  width: 30%;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navBar svg {
  font-size: 1.9em;
}
.navBar svg:hover {
  color: #25f4ee;
}
.menu-Itemz:focus {
  color: #25f4ee !important;
}
.menu-Itemz {
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
.menu-Itemz::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #25f4ee;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu-Itemz:hover::after { 
  width: 100%; 
  left: 0; 
}

// ---------------------------------------------------------- RIGHT BLOC -------------------------------------------------------------------
.btn-bloc {
  padding: 0px !important;
  margin: 0px !important;
  max-width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn-spacing {
  margin-right: 8px !important;
}
.login-bloc {
  width: auto !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  flex-direction: row;
}
