.header {
    width: 100%;
    padding: 0px !important;
    height: 10vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #181818;
}

// ---------------------------------------------------------- LEFT BLOC -------------------------------------------------------------------
.nameNav-bloc {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
}
.name {
    width: auto;
    padding: 0px !important;
    margin-left: 8px !important;
    color: white;
}

// ---------------------------------------------------------- RIGHT BLOC -------------------------------------------------------------------
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px !important;
}
.btn-bloc {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-spacing {
    margin-right: 8px !important;
}
.login-bloc {
    width: auto !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-direction: row;
}

// ---------------------------------------------------------- BTN STYLE -------------------------------------------------------------------
button.btn.btn-primary {
  background-color: #282828 !important;
  border-color: white !important;
  border-radius: 5px !important;
  color: white !important;
  padding: 8px !important;
  font-weight: bold;
  letter-spacing: 1px;
}

