#burger-menu {
    display: none;
}

.burger-nav {
    display: flex;
    flex-direction: column;
}

div.offcanvas {
    margin-top: 10vh;
    width: auto !important;
    height: 21% !important;
    background-color: #181818;
    color: white;
}