footer {
    height: 10vh;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #242526 !important;
    color: white;
}
.copyright {
    margin: 0px !important;
    padding: 0px 12px 0px 12px;
    width: 35%;
    display: flex;
    justify-content: flex-start !important;
}
.socials-bloc {
    width: 30% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px !important;
}
.inspired {
    margin: 0px !important;
    padding: 0px 12px 0px 12px;
    width: 35%;
    display: flex;
    justify-content: flex-end !important;
}
.socials {
    width: auto !important;
}
.socials:hover {
    color: #25F4EE;
}