.register-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px !important;
    background-color: #242526 !important;
}
.input-spacing {
    width: 48% !important;
}