// .blog-background {
//     background-color: #242526 !important;
// }
.blog-container.container-fluid {
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article-spacing:hover {
    cursor: pointer;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}