.blog-container.container-fluid {
    margin: 0px 0px 0px 0px !important;
    padding-left: 100px;
    padding-right: 100px;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article-spacing:hover {
    cursor: pointer;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}