.blog-section {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252659 !important;
    padding: 10px !important;
}
.blog-container.container-fluid {
    margin: 0px 0px 0px 0px !important;
    padding: 0px !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article-spacing:hover {
    cursor: pointer;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}
.article-spacing {
    margin: 10px;
}