// ---------------------------------------- APPLY TO ALL WEBSITE -----------------------------------------------

@font-face {
  font-family: "Raleway-Light";
  src: url(../public/assets/fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: "Raleway-LightItalic";
  src: url(../public/assets/fonts/Raleway-LightItalic.ttf);
}
* {
  box-sizing: border-box !important;
  font-family: "Raleway-Light" !important;
}
.container {
  padding: 0px !important;
  margin: 0px !important;
}
main {
  min-height: 80vh;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #18191a;
}
a {
  text-decoration: none !important;
  color: white !important;
}
svg {
  font-size: 1.5em;
}
h1 {
  margin: 0px !important;
}
h2 {
  color: aquamarine;
}

// ------ Form Styles -------

input {
  padding: 10px !important;
  width: 100% !important;
  background-color: #404040 !important;
  border-radius: 0px !important;
  border: 0px !important;
  letter-spacing: 1px !important;
}
textarea {
  padding: 10px !important;
  background-color: #404040 !important;
  border-radius: 0px !important;
  border: 0px !important;
  letter-spacing: 1px !important;
}
::placeholder {
  color: white !important;
  font-size: 1em;
  opacity: 1 !important;
}
.onInput {
  color: white;
  background-color: #404040;
}

// ------ Btn Styles --------

button.btn.btn-primary {
  background-color: #404040;
  border-color: #404040 !important;
  border-radius: 5px;
  padding: 8px !important;
  letter-spacing: 1px;
}
.btn-style {
  color: aquamarine !important;
}
.btn-style:hover {
  color: white !important;
  background-color: rgba(127, 255, 212, 0.408) !important;
}

// ---------------------------------------- GLOBAL CLASSES ----------------------------------------------------

.rOw {
  display: flex;
  flex-direction: row;
}
.coL {
  display: flex;
  flex-direction: column;
}
.justify-Center {
  justify-content: center;
}
.align-center {
  align-items: center !important;
}
.space-Evenly {
  justify-content: space-evenly !important;
}
.betWeen {
  justify-content: space-between !important;
}
.aquamarine {
  color: aquamarine;
}
.white {
  color: white;
}
.no-radius {
  border-radius: 0px !important;
}

// ---------------------------------------- MEDIA QUERIES ----------------------------------------------------

@media screen and (max-width: 650px) {
  #burger-menu {
    display: block !important;
  }
  .navBar.gap-4.nav {
    display: none !important;
  }
  .blog-container.container-fluid {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  img.img-spacing {
    float: none;
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .contact-bloc {
    flex-direction: column !important;
  }
  .contact-section.container-fluid {
    width: 100% !important;
  }
  .map-container {
    width: 100% !important;
    height: 400px !important;
    margin-top: 10px !important;
  }
  .login-section {
    width: 90% !important;
  }
  .register-section {
    width: 90% !important;
  }
}

// ------------------------------------------- BOOTSTRAP -----------------------------------------------------

@import "~bootstrap/scss/bootstrap";
