// ---------------------------------------- APPLY TO ALL WEBSITE -----------------------------------------------

@font-face {
  font-family: "Raleway-Light";
  src: url(../public/assets/fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: "Raleway-LightItalic";
  src: url(../public/assets/fonts/Raleway-LightItalic.ttf);
}
* {
  box-sizing: border-box !important;
  font-family: "Raleway-Light" !important;
}
.container {
  padding: 0px !important;
  margin: 0px !important;
}
main {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  left: 0px;
  right: 0px;
  overflow: auto;
  min-height: 80vh;
  padding: 10px;
  background-color: #18191a;
}
a {
  text-decoration: none !important;
  color: white !important;
}
svg {
  font-size: 1.5em;
}
h1 {
  margin: 0px !important;
}
h2 {
  color: #25f4ee;
  letter-spacing: 1px;
}

// ------ Form Styles -------

input {
  padding: 10px !important;
  width: 100% !important;
  background-color: #404040 !important;
  border-radius: 0px !important;
  border: 0px !important;
  letter-spacing: 1px !important;
}
input:focus {
  outline: none !important;
}
textarea {
  padding: 10px !important;
  background-color: #404040 !important;
  border-radius: 0px !important;
  border: 0px !important;
  letter-spacing: 1px !important;
  min-height: 150px;
  max-height: 200px;
}
textarea:focus {
  outline: none !important;
}
::placeholder {
  color: white !important;
  font-size: 1em;
  opacity: 1 !important;
}
.onInput {
  color: white;
  background-color: #404040;
}

// ------ Btn Styles --------

button.btn.btn-primary {
  background-color: #404040;
  border-color: #404040 !important;
  border-radius: 0px;
  padding: 8px !important;
  letter-spacing: 1px;
}
.btn-style {
  color: white !important;
}
.btn-style:hover {
  color: white !important;
  background-color: #25f4ed1d !important;
}
.btn-style2 {
  color: rgba(255, 255, 255, 0.434) !important;
  background-color: #fe2c561c !important;
  letter-spacing: 1px !important;
  border: 0px !important;
}
.btn-style2:hover {
  color: rgba(255, 255, 255, 0.807) !important;
  background-color: #fe2c5661 !important;
}

// ---------------------------------------- GLOBAL CLASSES ----------------------------------------------------

.bloc-padding {
  padding: 20px !important;
}
.rOw {
  display: flex;
  flex-direction: row;
}
.coL {
  display: flex;
  flex-direction: column;
}
.justify-Center {
  justify-content: center;
}
.align-center {
  height: 100%;
  display: flex;
  padding: 0px !important;
  flex-direction: row;
  align-items: center !important;
}
.space-Evenly {
  justify-content: space-evenly !important;
}
.betWeen {
  justify-content: space-between !important;
}
.aquamarine {
  color: #25f4ee;
}
.white {
  color: white;
}
.no-radius {
  border-radius: 0px !important;
}
.center-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0px !important;
  width: 70% !important;
}
.letter-spacing {
  letter-spacing: 1px !important;
}
.show {
  display: flex !important;
}
.hide {
  display: none !important;
}
.bold {
  font-weight: bold !important;
}
.text-align-center {
  text-align: center;
}
// ---------------------------------------- MEDIA QUERIES ----------------------------------------------------

@media screen and (max-width: 690px) {
  // ------- NAVBAR ---------
  #burger-menu {
    display: block !important;
  }
  .navBar.nav {
    display: none !important;
  }
  // ----- CENTER BLOC -------
  .center-bloc {
    width: 100% !important;
  }
  // ----- HOME SCREEN -------
  .home-section {
    display: flex;
    flex-direction: column !important;
  }
  .presentation {
    width: 100% !important;
  }
  .btn-width {
    width: 35% !important;
  }
  .three-js-bloc {
    width: 100% !important;
    margin-top: 10px !important;
  }
  .img-dimension {
    width: 280px !important;
  }

  // ----- BLOG SCREEN -------
  div.blog-section.container-fluid {
    margin-top: 450px !important;
  }
  .blog-container.container-fluid {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0px 10px 0px 10px !important;
  }
  // ---- ARTICLE SCREEN -----
  .singleArticle-section {
    flex-direction: column !important;
  }
  .singleArticle-container {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .align-category-title {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .align-category-title h2 {
    margin-left: 0px !important;
  }
  img.img-spacing {
    float: none;
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .comments-bloc {
    clear: both !important;
    margin: 10px 0px 10px 0px !important;
    width: 100% !important;
  }
  // ----- CONTACT SCREEN ----
  .contact-bloc {
    padding: 0px !important;
    flex-direction: column !important;
  }
  .contact-section.container-fluid {
    width: 100% !important;
  }
  .map-container {
    width: 100% !important;
    height: 400px !important;
    margin-top: 10px !important;
  }
  // ---- LOGIN/REGISTER ------
  .login-section {
    width: 90% !important;
  }
  .register-section {
    width: 90% !important;
  }
  // ---- ACCOUNT SCREEN ------
  div.params-section.container-fluid {
    width: 100% !important;
  }
  .infos-data {
    display: flex;
    flex-direction: column !important;
  }
  // ----- ADMIN SCREEN -------
  .admin-bloc {
    width: 75% !important;
  }
  // -------- FOOTER ----------
  .inspired {
    display: none !important;
  }
  .copyright {
    display: none !important;
  }
  div.socials-bloc.container-fluid {
    width: 100% !important;
  }
}

// ------------------------------------------- BOOTSTRAP -----------------------------------------------------

@import "~bootstrap/scss/bootstrap";
